@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
.loader {
  border-top-color: #3490dc; /* Tailwind blue-500 */
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
